<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Mike</title>
    @RenderSection("Styles", required: false)
    @Styles.Render("~/Content/style.css")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    @RenderBody()
    <!-- Menu -->
    <div class="footer">
        <!-- Menu button -->
        <div class="menu" onclick="ToggleOverviewAnim()">
            <!-- Cross that shows when the hamburger icon animation finishes  -->
            <div class="cross">
                <div id="cross-left" class="cross-bar"></div>
                <div id="cross-right" class="cross-bar"></div>
            </div>
            <!-- Hamburger style button -->
            <div class="menu-button">
                <div class="menu-bar"></div>
                <div class="menu-bar"></div>
                <div class="menu-bar"></div>
            </div>
        </div>
        <!-- Site logo -->
        <div class="logo">
            <a href="/home/">
                <h1>Mike</h1>
            </a>
        </div>
    </div>
    <!-- Menu tabs -->
    <div id="menu-overview" class="menu-overview">
        <a href="/home/">
            <img id="home" src="~/Content/resources/icons/home.png" alt="home icon">
            <div class="menu-text">Home</div>
        </a>
        <div class="divider"></div>
        <a href="/gallery/">
            <img id="gallery" src="~/Content/resources/icons/gallery.png" alt="home icon">
            <div class="menu-text">Gallery</div>
        </a>
        <div class="divider"></div>
        <a href="/comments/">
            <img id="comments" src="~/Content/resources/icons/comments.png" alt="comments icon">
            <div class="menu-text">Comments</div>
        </a>
        @Html.Action("login", "NavBar");
        <div class="divider" style="margin-right: 20px"></div>
        <a class="dark-mode-button-outline" onclick="DarkMode()">
            <span class="dark-mode-button-circle"></span>
        </a>
        <div id="dark-mode-text" class="menu-text">Dark Mode</div>
        <div class="divider"></div>
    </div>

    @Scripts.Render("~/Scripts/functionality.js")
    @RenderSection("Scripts", required: false)
</body>
</html>
