@using MikeWebsite.Models
@model LoginViewModel
@{
    ViewBag.Title = "Login";
}

@section Styles {
    @Styles.Render("~/Content/post.css")
}

<div class="post-frame">

    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4 class="post-text">Use a local account to log in.</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.AccountName, new { @class = "post-text" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.AccountName)
                @Html.ValidationMessageFor(m => m.AccountName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "post-text" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div>
            <div>
                <input type="submit" value="Log in"/>
            </div>
        </div>
        <p>
            @Html.ActionLink("Don't have an account? Sign up!", "register", "account", new { @class = "post-text" })
        </p>
    }
</div>