@using MikeWebsite.Models
@model RegisterViewModel

@{
    ViewBag.Title = "Register";
}

@section Styles {
    @Styles.Render("~/Content/post.css")
}

<div class="post-frame">
    @using (Html.BeginForm("register", "account", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4 class="post-text">Create a new account.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.AccountName, new { @class = "post-text" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.AccountName)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "post-text" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "post-text" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "post-text" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword)
            </div>
        </div>
        <div>
            <div>
                <input type="submit" value="Register" />
            </div>
        </div>
        <p>
            @Html.ActionLink("Already have an account? Log in.", "login", "account", new { @class = "post-text" })
        </p>
    }
</div>